<h1 class="dog_name"><%=@observed.name%></h1>
  <%= image_tag @observed.img.url, class: "img-responsive match img-circle img-thumbnail" %>
  <h4 class="no-bottom-margin"> <%= @observed.gender%> | <%= @observed.breed%></h4>
  <h4 class="no-bottom-margin"> <%= rand(9)+1 %> mile(s) away </h4>
  <h4 class="no-top-margin"> <%=  @observed.size %></h4>
  <h4 class="no-top-margin"> <%= @observed.age%></h4>
  <h4 class="grey-font"> Owned by <%= @observed.user.first_name %>
    <%= image_tag @observed.user.image_url,
        class: "img-circle home-image owner-img" %>
  </h4>
