<div class="text-center">
  <h1 class="dog-form-banner">
    <%= image_tag current_user.image_url,
    class: "img-responsive img-circle img-thumbnail home-image intro-img" %>
    Welcome <%= current_user.first_name %> !
  </h1>
<div class="explain">
          <h3 class="next">  <%= link_to "Skip the Intro, time to search!", new_observation_path%></h3>
      <h1> Let's find <%= current_dog.name %> some dates! </h2>
        <h3> Click LEFT if it's a no go but think it has potentional? Click RIGHT!</h3>
</br>
        <img src='/assets/example.png' id="example"/>
        <h4><em>Careful</em> once you click no, there is no getting that match back!</br>
          Click the Matches link on the Nav bar to see the lucky dogs! </h4>
        <h3><%= link_to "Got it! Let's begin searching!", new_observation_path, class: "next" %></h3>
  </div>
</div>
