<%= render :partial => '/shared/nav'%>

<div class="text-center index">
  <h1> <%= current_user.first_name %>'s Dogs </h1>
  <% current_user.dogs.each do |dog| %>
      <h3> <%= dog.name %></h3>
      <%= image_tag dog.img.url,
      class: "img-responsive img-circle img-thumbnail home-image" %>
      <h4 class="no-bottom-margin"> <%=dog.gender%> | <%=dog.breed%></h4>
      <h4 class="no-top-margin"> <%= dog.size %></h4>
      <h4 class="no-top-margin"> <%=dog.age%></h4>
      <%= link_to "Select#{dog.id}", new_observation_path(change_dog: dog.id ) %>
  <% end %>
</div>
