<div class="container-fluid text-center show-container">
  <h1><%= image_tag current_user.dogs.last.img.url, class: "img-responsive img-circle img-thumbnail home-image" %> Matches for <%= current_user.dogs.last.name %>! <h1>
    <% @dogs.each do |dog| %>
    <div class="col-md-4">
      <h1 class="dog_name"><%=dog.name%></h1>
      <%= image_tag dog.img.url, class: "img-responsive dog img-circle img-thumbnail" %>
      <h4 class="no-bottom-margin"> <%=dog.city %> &middot <%=dog.gender%> &middot <%=dog.breed%></h4>
      <h4 class="no-top-margin"> <%= dog.weight %> lbs &middot <%=dog.age%> yrs</h4>
      <% end %>
    </div>
</div>
