<%= render :partial => '/shared/nav'%>

<div class="container-fluid text-center show-container">
  <div class="dog-profile">
    <h3> <%= @current_dog.name %></h3>
    <%= image_tag @current_dog.img.url, class: "img-responsive img-circle img-thumbnail home-image" %>
    <h4 class="no-bottom-margin"> <%= @current_dog.city %> &middot <%= @current_dog.gender %> &middot <%= @current_dog.breed %></h4>
    <h4 class="no-top-margin"> <%= @current_dog.weight %> lbs &middot <%= @current_dog.age %> yrs</h4>
  </div>
  <div class="row col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-1 text-right red-paw"> <i class="fa fa-paw"></i> </div>
    <div class="col-md-4">
    <div>
      <h1 class="dog_name"><%=@observed.name%></h1>
      <%= bootstrap_form_for [@observation], :html => { multipart: true }  do |f| %>
      <%= f.hidden_field :observer_id, :value => @current_dog.id %>
      <%= f.hidden_field :observed_id, :value => @observed.id %>
      <%= f.hidden_field :liked, :value => false%>
      <%= f.submit "Dislike" %>
      <% end   %>

      <h4 class="no-bottom-margin"> <%=@observed.city %> &middot <%=@observed.gender%> &middot <%=@observed.breed%></h4>
      <h4 class="no-top-margin"> <%= @observed.weight %> lbs &middot <%=@observed.age%> yrs</h4>
    </div>
      <h4 class="grey-font"> Owned by <%= @observed.user.first_name %> <%= image_tag current_user.image_url, class: "img-circle home-image owner-img" %><h4>
    </div>
    <div class="col-md-1 text-left green-paw">
      <%= bootstrap_form_for [@observation], :html => { multipart: true }  do |f| %>
      <%= f.hidden_field :observer_id, :value => @current_dog.id %>
      <%= f.hidden_field :observed_id, :value => @observed.id %>
      <%= f.hidden_field :liked, :value => true %>
      <%= f.submit <i class="fa fa-paw"></i> %>
      <% end   %>
      </div>
  </div>
</div>
