<div class="row footer text-center">
  <div class="col-md-3 unleash-foot">
    <h1 class="unleash-footer"> UNLEASH </h1>
    <p> GET OUT AND PLAY </p>
  </div>
  <div class="col-md-3">
    <h4> Links </h4>
    <ul class="list-unstyled">
      <li><%= link_to("About", "", class: "footer-link")  %></li>
      <li><%= link_to("Reviews", "", class: "footer-link")  %></li>
      <li><%= link_to("Jobs", "", class: "footer-link")  %></li>
    </ul>
  </div>
  <div class="col-md-3">
    <h4> Have a question? </h4>
    <p> <%= link_to("Check our FAQ", "", class: "footer-link") %> </p>
    <p> <i class="glyphicon glyphicon-envelope"></i> info@unleash.com </p>
  </div>
  <div class="col-md-3">
    <h4> Follow Us! </h4>
    <ul class="list-unstyled">
      <li><%= link_to("Facebook", "", class: "footer-link")  %></li>
      <li><%= link_to("Instagram", "", class: "footer-link")  %></li>
      <li><%= link_to("Twitter", "", class: "footer-link")  %></li>
    </ul>
  </div>
</div>
</html>
