<div class="text-center">
  <h1 class="dog-form-banner">
    <%= image_tag current_user.image_url,
    class: "img-responsive img-circle img-thumbnail home-image intro-img" %>
    Welcome <%= current_user.first_name %> !
  </h1>
    <div class="explain">
      <h3 class="next">  <%= link_to "Skip the Intro, time to search!",
        new_observation_path%>
      </h3>
  <h1> Let's find <%= current_dog.name %> some dates! </h2>
    <p> Connect with your neighbors, and find some new friends for both you and your dog!
      Not all dogs play the same, and dog parks can be overwelming! This is a great
      way to meet dogs that play nice with your four legged friend! Get stuck at work late sometimes? Have to leave town? No need to keep spending
      all that money on dog walkers you barely know! Find dogs that get along, and neighbors you trust
      so you can exchange dog walks and overnight stays! </p>
    <h3> Not feeling it - click <span class="red">LEFT</span>. Think there is potential - click <span class="green">RIGHT</span>!</h3></br>
      <img src='/assets/example.png' id="example"/>
        <h4>Careful once you click no, there is no getting that match back!</br>
          Click the Matches link on the Nav bar to see the lucky dogs!
        </h4>
    <h3><%= link_to "Got it! Let's begin searching!", new_observation_path,
        class: "next" %></h3>
  </div>
</div>
